 .titles {
     float: left;
     font-weight: 600;
     font-size: 15px;
 }

 .site-layout-background {
     background: #fff;
 }

 .ant-layout-header {
     padding: 0 20px;
 }

 .content {
     padding: 5px 12px;
 }

 .fff {
     color: #fff;
 }

 .layout {
     height: 100vh;
 }

 #Dropdown.ant-btn-text:hover {
     color: #fff;
 }

 .right_box {
     float: right;
 }

 .mar_r20 {
     margin-right: 20px;
 }

 .mar_r30 {
     margin-right: 30px;
 }

 .padd10 {
     padding: 10px;
 }

 .header {
     color: #fff;
     position: relative;

     .header_menu {
         position: absolute;
         right: 50%;
         left: 45%;
         min-width: 20vw;
         text-align: center;
         margin: auto;
     }
 }

 .min {
     display: none;
 }

 .editerLeft {
     width: 20rem;
     height: 100%;
     background-color: antiquewhite;
 }

 @media (max-width: 1080px) {
     .max {
         display: none;
     }

     .min {
         display: flex;
     }
 }

 @media (max-width: 500px) {
     .titles {
         display: none;
     }
 }