body {
    width: 100vw;
    min-width: 1200px;
    overflow: hidden;
    overflow-x: auto;
}

.size22 {
    font-size: 22px;
}

.ant-table-summary {
    display: table-header-group !important;
}

.big_titles {
    box-sizing: border-box;
    height: 67px;
    line-height: 67px;
    background: #f2f2f2;
    border-bottom: 1px solid #d9d9d9;
    padding: 0 20px;

    .big_names {
        font-size: 24px;
        margin-left: 40px;
    }
}

.top_tabs {
    width: 400px;
}

.big_search {
    .ant-input-group {
        width: 600px;
    }
}

#root {
    width: 100%;
    height: 100%;
    overflow: hidden;
    // background: #f0f2f5;
}

.admin_color {
    color: #0c948A;
}

::-webkit-scrollbar {
    width: 10px !important;
    height: 10px !important;
}

::-webkit-scrollbar-thumb {
    background: #CCCCCC !important;
}

::-webkit-scrollbar-track {
    background: #E5E5E5 !important;
}

.ant-table-wrapper {
    max-height: 100%;
}

.ant-table {
    font-size: 14px !important;
    max-height: 100% !important;
}

.ant-table-thead>tr>th {
    // font-weight: bold !important;
    font-size: 14px !important;
    background-color: #eef1f6 !important;
    color: #909399 !important;
}

.titles {
    float: left;
    font-size: 15px;
}

.ant-tree .ant-tree-treenode {
    width: 100%;
}

.ant-tree .ant-tree-node-content-wrapper {
    flex: 1;
}

.ant-tree {
    position: relative;
}

.mar_l20 {
    margin-left: 20px;
}


.flex_sb {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sb {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.ant-divider-horizontal {
    margin: 10px 0;
}

.mar_l10 {
    margin-left: 10px;
}

.dialog_switch {
    position: absolute;
    top: 30%;
    left: 6%;
}

.page_flex {
    overflow-y: auto;
    flex: 1;
    display: flex;
    justify-content: space-between;
}

.dialog_box {
    word-break: break-all;
    height: 100px;
    box-shadow: 4px 2px 4px 4px #eef1f6;
    margin-bottom: 20px;
}

.min_table_box {
    margin-left: 10%;
    width: 80%;
}

.selected {
    padding: 2px 5px;
    border-radius: 5px;
    background-color: rgba(12, 148, 138, 0.3);
    color: #0c948A;
}

.not_selected {
    padding: 2px 5px;
    border-radius: 5px;
    background-color: #f5f5f5;
    color: #909090;
}

.box_bottom {
    height: 100px;
}


.page_left {
    height: 100%;
    width: 260px;
}

.bold {
    font-weight: bold;
}

.radius2 {
    border-radius: 2px;
}

.bac_fff {
    background-color: #fff;
}

.over {
    overflow: hidden;
}

.max_w {
    min-width: 200%;
}

.pages {
    width: 100%;
    height: 100%;
    display: inline-flex;
    flex-direction: column;
}

.edge_box {
    width: 400px;
}

.form_middle {
    padding: 80px 20px;
    overflow: auto;
    height: calc(100vh - 85px);
    flex: 1;
    min-width: 1200px;

    ::-webkit-scrollbar {
        width: 0px !important;
        height: 0px !important;
    }

    .form_box {
        width: 600px;
    }
}

.anto {
    overflow-y: auto;
}

.ant-spin-nested-loading {
    overflow: hidden;
}

.tables {
    flex: 1;
}

.cursor {
    cursor: pointer
}

.ant-modal-header {
    box-sizing: border-box;
    height: 57px;
    line-height: 57px;
    background: #f2f2f2 !important;
    border-bottom: 1px solid #d9d9d9 !important;
    padding-top: 0;
    padding-bottom: 0
}

.cursor:hover {
    color: #0c948A;
}

.site-layout-background {
    background: #fff;
}

.ant-layout-header {
    padding: 0 20px;
    background: #3a4c67;
}

.ant-menu-dark .ant-menu-sub,
.ant-menu.ant-menu-dark,
.ant-menu.ant-menu-dark .ant-menu-sub {
    background: #3a4c67;
}

.ant-menu-dark.ant-menu-horizontal>.ant-menu-item {
    background-color: #3a4c67;
}

.ant-menu.ant-menu-dark,
.ant-menu-dark .ant-menu-sub,
.ant-menu.ant-menu-dark .ant-menu-sub {
    background-color: #3a4c67 !important;
}

.ant-menu-dark .ant-menu-item,
.ant-menu-dark .ant-menu-item-group-title,
.ant-menu-dark .ant-menu-item>a,
.ant-menu-dark .ant-menu-item>span>a {
    color: #fff;
}

.ant-page-header {
    padding: 5px 20px;
    background-color: #3a4c67 !important;
}

.ant-page-header-heading-title {
    color: #fff !important;
}

.ant-page-header-back-button {
    color: #fff !important;
}

.ant-page-header-back-button:hover {
    color: #fff !important;
}

.ant-menu-dark.ant-menu-horizontal>.ant-menu-item:hover {
    background-color: #393c4a;
}

.fr-container .fr-label-title {
    display: flex;
    align-items: center;
}

.ant-menu-dark .ant-menu-item-selected {
    color: #0c948A;
}

.ant-menu-dark .ant-menu-item-selected:hover {
    color: #0c948A;
}

.flex_row {
    display: flex;
    align-items: center;
}

.ant-menu.ant-menu-dark,
.ant-menu-dark .ant-menu-sub,
.ant-menu.ant-menu-dark .ant-menu-sub {
    background-color: #3a4c67;
}

.ant-input-group {
    min-width: 210px !important;
}

.inline_flex {
    width: 90px;
    display: inline-block;
    align-items: center;
    padding: 10px 0 0 15px;
}

.border_b {
    width: 100%;
    border-bottom: 1px solid rgb(233, 231, 231);
}

.mar_t10 {
    margin-top: 10px;
}

.padd_tb10 {
    padding: 10px 0;
}

.switch_lable {
    height: 35px;
    margin-left: 10px;
    display: inline-flex;
    align-items: center;
    cursor: pointer;

    .one_switch {
        display: inline-block;
        padding: 5px 12px;
        font-size: 13px;
        color: #fff;
        background-color: #0c948A
    }

    .two_switch {
        display: inline-block;
        padding: 5px 12px;
        font-size: 13px;
        color: #999;
        background-color: #f3f6fd
    }
}

.flex1 {
    // width: 100%;
    // height: 100%;
    flex: 1;
}

.login_user {
    width: 400px;
}

.text_center {
    width: 100%;
    text-align: center;
}

.w_100 {
    min-width: 100px;
}

.grey {
    color: #909090;
}

.middle_h {
    height: 50%;
}

.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
    color: #0c948A;
}

.mar_r10 {
    margin-right: 10px;
}

.ant-tabs-tab {
    color: #909090;
}

.mar_b10 {
    margin-bottom: 10px;
}

.menucom_box {
    height: calc(100% - 70px);
    overflow-y: auto;
}

.bottom {
    position: absolute;
    bottom: 0;
    height: 50px;
    width: 100%;
}

.size14 {
    font-size: 14px;
}

.size16 {
    font-size: 16px;
}

.ant-tabs-top>.ant-tabs-nav {
    margin: 0;
}

.padd_lr10 {
    padding: 0 10px;
}

.padd5 {
    padding: 5px;
}

.padd_b10 {
    padding-bottom: 10px;
}

.size12 {
    font-size: 12px;
}

.size10 {
    font-size: 10px;
}

.flex {
    display: flex;
}

.flex_wrap {
    flex: 1;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.flex_center {
    width: 100%;
    // height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.top_box {
    min-height: 30vh;
}

.flex_b {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.flex_c_center {
    width: 100%;
    height: 100% !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fff {
    color: #fff;
}

.posr {
    position: relative;
}

.flex_c_sb {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.layout {
    height: 100vh;
}

#Dropdown.ant-btn-text:hover {
    color: #fff;
}

#Dropdown.ant-btn-text:focus {
    color: #fff;
}

.flex_row_sb {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.right_box {
    float: right;
}

.mar_r20 {
    margin-right: 20px;
}

.mar_r30 {
    margin-right: 30px;
}

.padd10 {
    padding: 10px;
}

.page {
    width: 100vw;
    height: 100vh;
}

.header {
    color: #fff;
    position: relative;

    .header_menu {
        position: absolute;
        right: 50%;
        left: 45%;
        min-width: 20vw;
        text-align: center;
        margin: auto;
    }
}

.min {
    display: none;
}

.editerLeft {
    flex: 1;
    width: 250px;
    height: 100%;
    background-color: antiquewhite;
}

.flex_box {
    display: flex;
    flex-direction: column;
}

#searchCom .ant-select {
    color: #909090 !important;
}

.min_titles {
    min-width: 140px;
    text-align: end;
}

.hear_img {
    width: 40px;
    height: 40px;
}

.size8 {
    font-size: 8px;
}

.mar_b20 {
    margin-bottom: 20px;
}

.w_600 {
    margin-bottom: 10px;
    width: 600px;
}

/deep/ .ant-tabs {
    border: none !important;
}

.top_tab {
    width: 600px;
}

.ant-tabs-top>.ant-tabs-nav,
.ant-tabs-bottom>.ant-tabs-nav,
.ant-tabs-top>div>.ant-tabs-nav,
.ant-tabs-bottom>div>.ant-tabs-nav {
    margin: 0 !important;
}

.row-dragging {
    background: #fafafa;
    border: 1px solid #ccc;
}

.row-dragging td {
    padding: 16px;
}

.row-dragging .drag-visible {
    visibility: visible;
}


.ant-tabs-card>.ant-tabs-nav .ant-tabs-tab,
.ant-tabs-card>div>.ant-tabs-nav .ant-tabs-tab {
    border: none;
}

.fr-generator-container .w4 {
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    //  width: 20vw !important;
}

.fr-generator-container .w5-l {
    background-color: #fff;
}

.fr-generator-container .absolute {
    color: #3a4c67;
}

.fr-generator-container .pl2 {
    background-color: #fff;
}

.fr-generator-container .pl2 {
    box-shadow: 1px 2px 2px 3px rgba(0, 0, 0, 0.2);
}

p {
    padding: 10px;
    font-weight: bold;
    font-size: 18px;
    box-shadow: 2px 1px 1px 0px rgba(0, 0, 0, 0.2);
}

.flex-none {
    font-weight: bold;
    font-size: 14px;
    margin: 8px 0;
}

img {
    width: 100%;
    height: 100%;
}

.size18 {
    font-size: 18px;
}

.mar_b15 {
    margin-bottom: 15px;
}

.user_login {
    width: 640px;
    height: 100%;
    // background-color: #393c4a;

    .login_top_box {
        height: 30%;
        // background-color: red;

        .login_icons {
            width: 50px;
            height: 50px;
        }
    }
}

.left-item {
    border: 1px solid #f3f6fd;
    border-radius: 2px;
    color: #444;
}

.ant-tabs-nav-wrap {
    width: 100%;
}

@media (max-width: 1080px) {
    .max {
        display: none;
    }

    .min {
        display: flex;
    }
}

@media (max-width: 500px) {
    .titles {
        display: none;
    }
}